### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Java / Maven / Gradle ###
*.class
*.log
*.jar
*.war
*.ear
target/
.gradle/
build/

### Sistema Operacional ###
.DS_Store
Thumbs.db

### Arquivos de Dados do Projeto ###
# Ignora o CSV de testes para não subir dados pesados ou sensíveis
*.csv
!50linhas.csv # (Opcional) Remova a "!" se não quiser que seu arquivo de teste suba